<!DOCTYPE html>
<html>

<head>
  <title>Link</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" href="https://unpkg.com/purecss@3.0.0/build/pure-min.css"
    integrity="sha384-X38yfunGUhNzHpBaEBsWLO+A0HDYOQi8ufWDkZ0k9e0eXz/tH3II7uKZ9msv++Ls" crossorigin="anonymous">


  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
  <div id="link-page">
    <h1>Link</h1>
    <p>Here is the link:</p>
    <p>
      <a href="<%= link %>"><%= link %></a>
    </p>
    <p>
      <a href="<%= link %>" class="pure-button pure-button-primary">Go!</a>
    </p>

    <p>================================ </p>

    <p>Copy link for sharing:</p>
    <input hidden type="text" id="copy-button-target" value="<%= pagelink %>"> <button class="pure-button button-secondary"
      id="copy-button">Share Link</button><br><br>


    <p>Copy link but skip this page:</p>
    <input hidden type="text" id="copy-button-2-target" value="<%= directlink %>">
    <button class="pure-button button-secondary" id="copy-button-2">Share Link</button><br><br>


    <script src="/js/copier.js"></script>

    <p>Create another link:</p>

    <%- include('form') %>

  </div>
</body>

</html>